include ../../atoms/button/button

mixin home-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.auto = spec.auto || ''
  - spec.speed = spec.speed || ''

  .carousel-home(class=spec.__class data-auto=spec.auto data-speed=spec.speed)&attributes(attributes)
    .carousel-wrap
      each item, index in spec.carousel
        .carousel-item(data-index=(index + 1))
          .carousel-item__wrap
            .carousel-img
              img.desktop-only(src=item.imgDk alt=item.imgDkTitle title=item.imgDkTitle)
              img.mobile-only(src=item.imgMb alt=item.imgMbTitle title=item.imgMbTitle)
              
            .carousel-info
              .container
                .info
                  .info-title= item.title
                  .info-desc!= item.desc
                  .info-cta
                    +button({
                      '__text': item.btnTitle,
                      '__type': 'anchor',
                      '__link': item.btnURL,
                      '__class': 'btn--carouselCTA btn--bg'
                    })
    
    .carousel-dots
    .carousel-arrows
      i.icon.prev.icon-arrow-left
      i.icon.next.icon-arrow-right