mixin article-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-block__header(class=spec.__class)&attributes(attributes)
    .header-title
      .subtitle= spec.subtitle
      h1.title= spec.title
    
    if spec.masthead
      .header-banner
        img(src=spec.masthead alt=spec.imgTitle title=spec.Title)
